{% extends "_master.html" %}
{% load static %}
{% block content %}
<div class="card">
  <img src="{% static "img/" %}{{car.filename}}"
    class="card-img-top" alt="Foto do {{car.model}}">
  <div class="card-body">
    <h5 class="card-title">{{car.model}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Marca: {{car.brand}}</li>
    <li class="list-group-item">Ano: {{car.year}}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'edit' car.id %}" 
      class="card-link">Editar</a>
    <a href="{% url 'destroy' car.id %}"
      class="card-link btn btn-danger">Deletar</a>
  </div>
</div>
{% endblock %}